/media/pictures/cantonese-soup.jpg
/media/pictures/chicken-thukpa.jpg
/media/pictures/Classic-French-Onion-Soup_EXPS_THFM18_160479_D10_17_2b.jpg
/media/pictures/Contest-Winning-Easy-Minestrone_exps119788_FM143298B03_11_2bC_RMS.jpg
/media/pictures/crabmeat-soup.jpg
/media/pictures/Cream-Cheese-Chicken-Soup_exps14118_CW143433C03_21_2b_RMS.jpg
/media/pictures/exps41095_HC1442841D31D_WEB.jpg
/media/pictures/exps49866_SD163324D08_11_10b.jpg
/media/pictures/exps179731_TH143193A04_30_4b.jpg
/media/pictures/Homemade-Chicken-Tortilla-Soup_EXPS_THFM17_29319_C09_28_5b.jpg
/media/pictures/Manhattan-Clam-Chowder_EXPS_TOHX18_6330_B08_31_3b.jpg
/media/pictures/Potato-Beer-Cheese-Soup_EXPS_SBZ19_71598_B09_14_1b.jpg
/media/pictures/roasted-duck-soup.jpg
/media/pictures/Rustic-Italian-Tortellini-Soup_EXPS_DIYD19_41101_E04_30_6b.jpg
/media/pictures/shrimp-and-fish-soup.jpg
/media/pictures/So-Easy-Gazpacho_exps39101_TH1999637A03_30_3b.jpg
/media/pictures/thai-prawns-hot-and-sour-soup.jpg

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max