{% extends 'index.html' %}

{% block card %}


{% for product in pg.object_list %}
{% if product.stock > 0 %}
<li class="span3">
    <div class="card">
        <div class="card-body">
            <div class="card-img-body">
                <a href="{% url 'prod_detail' product.slug %}"><img src="{{product.product_image.url}}" style=""
                                                                    class="card-img-top" alt=""/></a>
            </div>
            <div class="caption">
                <h5 align="center">{{product.product_name | slice:":22"}}</h5>
                <a href="{% url 'prod_detail' product.slug %}" style="text-decoration: none;"><p>
                    {{ product.desc | slice:":135" }}...
                </p></a>
                <p>
                    <strong>Slock left : {{product.stock}}</strong>
                </p>
                <h4 style="text-align:center">





                    <a class="btn" href="{% url 'addtocart' product.id %}">Add to <i class="icon-shopping-cart"></i></a>
{% comment %}
<!--                    -->
<!--                    <div class="input-append">-->

<!--                        <input class="span1" style="height:35px;width:50px;background-color : white;"-->
<!--                               placeholder="1" type="text" min="1" max="{{product.stock}}" value="{{product.slug.cart.qty}}"-->
<!--                               readonly>-->
<!--                        <a href="{%url 'min' product %}">-->
<!--                            <button class="btn btn-danger" type="button" {% if product.slug.cart.qty == 1 %} disabled {% endif %}><i-->
<!--                                    class="icon-minus "></i></button>-->
<!--                        </a>-->

<!--                        <a href="{% url 'addtocart' ct.prod.id %}">-->
<!--                            <button class="btn btn-danger" type="button" style="height:35px;width:50px;"-->
<!--                                    {% if product.stock == product.slug.cart.qty %} disabled {% endif %}><i-->
<!--                                    class="icon-plus "></i>-->
<!--                            </button>-->
<!--                        </a>-->
<!--                        <a href="{%url 'delete' ct.prod %}">-->
<!--                            <button class="btn btn-danger" type="button" style="height:35px;width:50px;"><i-->
<!--                                    class="icon-remove icon-white"></i>-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </div>-->




{% endcomment %}


                    <a class="btn btn-primary" href="{% url 'prod_detail' product.slug %}">&#8377;
                        {{product.product_price}}</a></h4>
            </div>
        </div>
    </div>
</li>
{% endif %}
{% endfor %}


{% endblock card %}