{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header End====================================================================== -->
<div id="mainBody">
    <div class="container-fluid ">
        <div class="row">

            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}" style="text-decoration: none">Home</a> <span class="divider" >/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>
                <h3> SHOPPING CART [ <small>{{ cart.count }} Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i
                        class="icon-arrow-left"></i> Continue Shopping </a></h3>
                <hr class="soft"/>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Quantity/Update</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ct in cart %}
                    <tr>
                        <td><a href="{% url 'prod_detail' ct.prod.slug %}"><img width="100%" height="100%"
                                                                                src="{{ ct.prod.product_image.url }}"
                                                                                alt=""/></a></td>
                        <td><a href="{% url 'prod_detail' ct.prod.slug %}" style="text-decoration: none;"><strong>{{ct.prod.product_name}}</strong><br>
                            <br>{{ct.prod.desc}}</a>
                        </td>
                        <td>
                            <div class="input-append">

                                <input class="span1" style="height:35px;width:50px;background-color : white;"
                                       placeholder="1" type="text" min="1" max="{{ct.prod.stock}}" value="{{ct.qty}}"
                                       readonly>
                                <a href="{%url 'min' ct.prod.id %}">
                                    <button class="btn btn-danger" type="button" {% if ct.qty == 1 %} disabled {% endif %}><i class="icon-minus " ></i></button>
                                </a>

                                <a href="{% url 'addtocart' ct.prod.id %}">
                                <button class="btn btn-danger" type="button" style="height:35px;width:50px;" {% if ct.prod.stock == ct.qty %} disabled {% endif %}><i
                                        class="icon-plus " ></i>
                                </button>
                                </a>
                                <a href="{%url 'delete' ct.prod %}">
                                <button class="btn btn-danger" type="button" style="height:35px;width:50px;" ><i
                                        class="icon-remove icon-white"></i>
                                </button>
                                </a>
                            </div>
                            <br><strong> Stock : {{ct.prod.stock}}</strong>
                            <br> {% if ct.prod.stock == ct.qty %}<label style="color : red;">!!Qty reached maxium of our Stock !! </label>{% endif %}
                        </td>
                        <td>{{ct.prod.product_price}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
                <a href="/" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- MainBody End ============================= -->
{% endblock %}
