{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header End====================================================================== -->
<div id="carouselBlk">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
		  <div class="item active">
		  <div class="container">
			<a href="register.html"><img style="width:100%" src="{% static 'themes/images/carousel/1.png' %}" alt="special offers"/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		  </div>
		  </div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>
</div>
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar end=============================================== -->
		<div class="span12">
		<h4>Latest Products </h4>
			  <ul class="thumbnails" >
				  {% for product in products  %}
				  {% if product.stock > 0 %}
						<li class="span4">
							<div class="card" >
								  <div class="thumbnail">
									<a  href="{%url 'product_details' product.slug %}"><img src="{{product.product_img.url}}" class="card-img-top" alt=""/></a>

									<div class="caption">
									  <h5>{{product.product_name}}</h5>
									  <a  href="{%url 'product_details' product.slug %}"><p>
										{{ product.desc | slice:":50" }}...
									  </p></a>
									  <h4 style="text-align:center"><a class="btn" href="{%url 'product_details' product.slug %}" > <i class="icon-zoom-in"></i> </a>
										  <a class="btn" href="{% url 'cart' product.id %}">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="{%url 'product_details' product.slug %}">$ {{product.price}}</a></h4>
									</div>
								  </div>
							</div>
						</li>
				  {% endif %}
				  {% endfor %}
			  </ul>
		</div>
		</div>
	</div>
</div>
{% endblock %}
