{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header End====================================================================== -->
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Best ever Food experience</h1><br>
        <p>"Food is not rational. Food is culture, habit, craving, and identity. "</p>

        <p align="right"><strong>- Jonathan Sofran Foer</strong></p>
    </div>
</div>
<div id="mainBody">
    <div class="container-fluid">
            <!-- Sidebar end=============================================== -->
		<h4>Latest Products </h4>
			  <ul class="thumbnails" >
				  {% for product in pg.object_list  %}
				  {% if product.stock > 0 %}
						<li class="span3">
							<div class="card" >
								<div class="card-body">
									<a  href="{% url 'prod_detail' product.slug %}"><img src="{{product.product_image.url}}" style="" class="card-img-top" alt=""/></a>

									<div class="caption">
									  <h5 align="center">{{product.product_name | slice:":22"}}</h5>
									  <a  href="{% url 'prod_detail' product.slug %}"><p>
										{{ product.desc | slice:":135" }}...
									  </p></a>
										<p>
											<strong>Slock left : {{product.stock}}</strong>
										</p>
									  <h4 style="text-align:center">
										  <a class="btn" href="#" >Add to <i class="icon-shopping-cart" ></i></a> <a class="btn btn-primary" href="{% url 'prod_detail' product.slug %}">&#8377; {{product.product_price}}</a></h4>
									</div>
								</div>
							</div>
						</li>
				  {% endif %}
				  {% endfor %}
			  </ul>
    </div>
</div>
<div>
	<center>
		{% for p in pg.paginator.page_range %}
			<a href="?page={{p}}" class="btn btn-light btn-sm {% if pg.number == p %} active {% endif %}">{{p}}</a>
		{% endfor %}
	</center>
</div>
{% endblock %}
