{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
        <h3> Login</h3>
        <hr class="soft"/>

        <div class="row">

            <div class="span6">
                <div class="well">
                    <h5>ALREADY REGISTERED ?</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="inputEmail1">Email</label>
                            <div class="controls">
                                <input class="span4" type="text" id="inputEmail1" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword1">Password</label>
                            <div class="controls">
                                <input type="password" class="span4" name="password" id="inputPassword1"
                                       placeholder="Password">
                            </div>
                        </div>
                        <label class="control-label" for="inputPassword1" style="color:red;">{{login_response}}</label>
                        <div class="control-group">
                            <div class="controls">
                                <a href="{% url 'signin' %}">
                                    <button type="submit" class="btn">Sign in</button>
                                </a>
                                <a href="forgetpass.html">Forget password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


