{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header End====================================================================== -->
<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <!--    <li><a href="products.html">Products</a> <span class="divider">/</span></li>-->
                    <li class="active">product Details</li>
                </ul>
                <div class="row">
                    <div id="gallery" class="span6 img">
                        <a href="" title="{{ products.product_name }} " class="img" >
                            <img src="{{products.product_image.url}}" style="width:60%"
                                 alt="{{ products.product_name }}"/>
                        </a>

                    </div>
                    <div class="span9">


                        <h3>{{ products.product_name }}</h3>
                        <small>{{ products.product_shot_feature }}</small>


                        <hr class="soft"/>
                        <form class="form-horizontal qtyFrm">
                            <div class="control-group">
                                <label class="control-label"><span>&#8377; {{products.product_price}}</span></label>


                                <div class="controls">
                                    <i class="span1"></i>
                                    <i class="span1"></i>
                                    <i class="span1"></i>
                                    <i class="span1"></i>
                                    <input type="number" class="span1" placeholder="Qty."/>
                                    <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i
                                            class=" icon-shopping-cart"></i></button>
                                </div>
                            </div>
                        </form>

                        <hr class="soft"/>
                        <h4>Stock : {{ products.stock }} </h4>
                        <hr class="soft clr"/>
                        <p>
                            {{ products.desc }}
                        </p>
                        <!--				<a class="btn btn-small pull-right" href="#detail">More Details</a>-->
                        <br class="clr"/>
                        <a href="#" name="detail"></a>
                        <!--			<hr class="soft"/>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- MainBody End ============================= -->
{% endblock %}